.body {
  width: 100%;
  align-content: center;
  justify-content: center;
  display: flex;
}

.body {
  margin-top:  5em;
}

.icon {
  font-size: 5em;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.msg {
  font-size: 1em;
  color: white;
  text-align: center;
  margin: auto;
}